<h1>Stupid Coaching</h1>

<div class="container">
  <h2><%= @questions %></h2>
  <h2>--You</h2>
</div>
<div class="container">
  <h2><%= @answer %></h2>
  <h2>--Your coach</h2>
</div>

<%= link_to "Ask a new question", ask_path %>
